In [1]:
#melbourne house data cleaning and solving missing values problem
#Property Price Prediction
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read csv
a=pd.read_csv("melbourne.csv")
print(a)

             Suburb             Address  Rooms Type      Price Method  \
0        Abbotsford       68 Studley St      2    h        NaN     SS
1        Abbotsford        85 Turner St      2    h  1480000.0      S
2        Abbotsford     25 Bloomburg St      2    h  1035000.0      S
3        Abbotsford  18/659 Victoria St      3    u        NaN     VB
4        Abbotsford        5 Charles St      3    h  1465000.0     SP
...             ...                 ...    ...  ...        ...    ...
23542  Wyndham Vale     25 Clitheroe Dr      3    u        NaN     PN
23543  Wyndham Vale    19 Dalrymple Bvd      4    h        NaN      S
23544     Yallambie        17 Amaroo Wy      4    h  1100000.0      S
23545    Yarraville          6 Agnes St      4    h  1285000.0     SP
23546    Yarraville       33 Freeman St      4    h  1050000.0     VB

             SellerG        Date  Distance  Postcode  ...  Bathroom  Car  \
0             Jellis  03-09-2016       2.5    3067.0  ...       1.0  1.0
1             Biggin  03-12-2016       2.5    3067.0  ...       1.0  1.0
2             Biggin  04-02-2016       2.5    3067.0  ...       1.0  0.0
3             Rounds  04-02-2016       2.5    3067.0  ...       2.0  1.0
4             Biggin  04-03-2017       2.5    3067.0  ...       2.0  0.0
...              ...         ...       ...       ...  ...       ...  ...
23542      Harcourts  26-08-2017      27.2    3024.0  ...       1.0  0.0
23543  hockingstuart  26-08-2017      27.2    3024.0  ...       NaN  NaN
23544     Buckingham  26-08-2017      12.7    3085.0  ...       3.0  2.0
23545        Village  26-08-2017       6.3    3013.0  ...       1.0  1.0
23546        Village  26-08-2017       6.3    3013.0  ...       2.0  2.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0         126.0           NaN        NaN        Yarra -37.80140   144.99580
1         202.0           NaN        NaN        Yarra -37.79960   144.99840
2         156.0          79.0     1900.0        Yarra -37.80790   144.99340
3           0.0           NaN        NaN        Yarra -37.81140   145.01160
4         134.0         150.0     1900.0        Yarra -37.80930   144.99440
...         ...           ...        ...          ...       ...         ...
23542     552.0         119.0     1990.0          NaN -37.90032   144.61839
23543       NaN           NaN        NaN          NaN -37.87882   144.60184
23544       NaN           NaN        NaN          NaN -37.72006   145.10547
23545     362.0         112.0     1920.0          NaN -37.81188   144.88449
23546       NaN         139.0     1950.0          NaN -37.81829   144.87404

                  Regionname Propertycount
0      Northern Metropolitan        4019.0
1      Northern Metropolitan        4019.0
2      Northern Metropolitan        4019.0
3      Northern Metropolitan        4019.0
4      Northern Metropolitan        4019.0
...                      ...           ...
23542   Western Metropolitan        5262.0
23543   Western Metropolitan        5262.0
23544  Northern Metropolitan        1369.0
23545   Western Metropolitan        6543.0
23546   Western Metropolitan        6543.0

[23547 rows x 21 columns]

In [3]:
#shape of data
print(a.shape)

(23547, 21)

In [4]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         23547 non-null  object
 1   Address        23547 non-null  object
 2   Rooms          23547 non-null  int64
 3   Type           23547 non-null  object
 4   Price          18396 non-null  float64
 5   Method         23547 non-null  object
 6   SellerG        23547 non-null  object
 7   Date           23547 non-null  object
 8   Distance       23546 non-null  float64
 9   Postcode       23546 non-null  float64
 10  Bedroom2       19066 non-null  float64
 11  Bathroom       19063 non-null  float64
 12  Car            18921 non-null  float64
 13  Landsize       17410 non-null  float64
 14  BuildingArea   10018 non-null  float64
 15  YearBuilt      11540 non-null  float64
 16  CouncilArea    15656 non-null  object
 17  Lattitude      19243 non-null  float64
 18  Longtitude     19243 non-null  float64
 19  Regionname     23546 non-null  object
 20  Propertycount  23546 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB
None

In [5]:
#summing up the missing values
print("sum")
data=a.isnull().sum().sort_values(ascending=False)
print(data)

sum
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Landsize          6137
Price             5151
Car               4626
Bathroom          4484
Bedroom2          4481
Longtitude        4304
Lattitude         4304
Regionname           1
Propertycount        1
Postcode             1
Distance             1
Address              0
Date                 0
SellerG              0
Method               0
Type                 0
Rooms                0
Suburb               0
dtype: int64

In [6]:
#data cleaning is nothing but to digest this null data
#missing values row wise
data1=a.isnull().sum(axis=1).sort_values(ascending=False).head(10)
print("row wise max. missing values"," ",data1)

row wise max. missing values   18523    13
12930    10
12842    10
12927    10
12900    10
21385    10
12894    10
5238     10
1637     10
1634     10
dtype: int64

In [7]:
#find the index which has atleast one missing value
data=a.isnull().any()>0
print(data)

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [9]:
print(data.index)
print(data.values)
#those columns which has only true ans.for null value
print("---------",data.index[data.values])

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')
[False False False False  True False False False  True  True  True  True
  True  True  True  True  True  True  True  True  True]
--------- Index(['Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [10]:

#column having all missing values
data=a.isnull().all(axis=0)
print("in column",data)

in column Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [11]:
#that means there are no such columns having all the values as null
#checking this same for rows

data=a.isnull().all(axis=1).sum()
print("for rows=",data)

for rows= 0

In [12]:
#checking missing values in percentage colimn wise
data=a.isnull().sum().sort_values(ascending=False)/len(a)*100
print("in %",data)
print(round(a.isnull().sum().sort_values(ascending=False)/len(a)*100,2))

in % BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Landsize         26.062768
Price            21.875398
Car              19.645815
Bathroom         19.042766
Bedroom2         19.030025
Longtitude       18.278337
Lattitude        18.278337
Regionname        0.004247
Propertycount     0.004247
Postcode          0.004247
Distance          0.004247
Address           0.000000
Date              0.000000
SellerG           0.000000
Method            0.000000
Type              0.000000
Rooms             0.000000
Suburb            0.000000
dtype: float64
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Landsize         26.06
Price            21.88
Car              19.65
Bathroom         19.04
Bedroom2         19.03
Longtitude       18.28
Lattitude        18.28
Regionname        0.00
Propertycount     0.00
Postcode          0.00
Distance          0.00
Address           0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Suburb            0.00
dtype: float64

In [13]:
#removing columns where the null values percentages

datas=a.isnull().sum().sort_values(ascending=False).head(3).index.values
print(datas)
a1=a.drop(datas,axis='columns')
print(a1)

['BuildingArea' 'YearBuilt' 'CouncilArea']
             Suburb             Address  Rooms Type      Price Method  \
0        Abbotsford       68 Studley St      2    h        NaN     SS
1        Abbotsford        85 Turner St      2    h  1480000.0      S
2        Abbotsford     25 Bloomburg St      2    h  1035000.0      S
3        Abbotsford  18/659 Victoria St      3    u        NaN     VB
4        Abbotsford        5 Charles St      3    h  1465000.0     SP
...             ...                 ...    ...  ...        ...    ...
23542  Wyndham Vale     25 Clitheroe Dr      3    u        NaN     PN
23543  Wyndham Vale    19 Dalrymple Bvd      4    h        NaN      S
23544     Yallambie        17 Amaroo Wy      4    h  1100000.0      S
23545    Yarraville          6 Agnes St      4    h  1285000.0     SP
23546    Yarraville       33 Freeman St      4    h  1050000.0     VB

             SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
0             Jellis  03-09-2016       2.5    3067.0       2.0       1.0  1.0
1             Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2             Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
3             Rounds  04-02-2016       2.5    3067.0       3.0       2.0  1.0
4             Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
...              ...         ...       ...       ...       ...       ...  ...
23542      Harcourts  26-08-2017      27.2    3024.0       3.0       1.0  0.0
23543  hockingstuart  26-08-2017      27.2    3024.0       NaN       NaN  NaN
23544     Buckingham  26-08-2017      12.7    3085.0       4.0       3.0  2.0
23545        Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0
23546        Village  26-08-2017       6.3    3013.0       4.0       2.0  2.0

       Landsize  Lattitude  Longtitude             Regionname  Propertycount
0         126.0  -37.80140   144.99580  Northern Metropolitan         4019.0
1         202.0  -37.79960   144.99840  Northern Metropolitan         4019.0
2         156.0  -37.80790   144.99340  Northern Metropolitan         4019.0
3           0.0  -37.81140   145.01160  Northern Metropolitan         4019.0
4         134.0  -37.80930   144.99440  Northern Metropolitan         4019.0
...         ...        ...         ...                    ...            ...
23542     552.0  -37.90032   144.61839   Western Metropolitan         5262.0
23543       NaN  -37.87882   144.60184   Western Metropolitan         5262.0
23544       NaN  -37.72006   145.10547  Northern Metropolitan         1369.0
23545     362.0  -37.81188   144.88449   Western Metropolitan         6543.0
23546       NaN  -37.81829   144.87404   Western Metropolitan         6543.0

[23547 rows x 18 columns]

In [14]:
#checking rows which have more than 5 missing values
data=a1[a1.isnull().sum(axis=1)>5]
print(data)

                  Suburb              Address  Rooms Type      Price Method  \
15            Abbotsford     217 Langridge St      3    h  1000000.0      S
16            Abbotsford      18a Mollison St      2    t   745000.0      S
19            Abbotsford  403/609 Victoria St      2    u   542000.0      S
21            Abbotsford    25/84 Trenerry Cr      2    u   760000.0     SP
22            Abbotsford    106/119 Turner St      1    u   481000.0     SP
...                  ...                  ...    ...  ...        ...    ...
23495  Templestowe Lower  1/207 Manningham Rd      2    u   550000.0     PI
23499          Thornbury      1/128 Dundas St      2    t   770000.0     PI
23502          Thornbury        111 Pender St      2    t   858000.0      S
23508             Toorak   21/1059 Malvern Rd      2    u   720000.0     VB
23531           Werribee         91 Latham St      4    h   540000.0     PI

            SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
15           Jellis  08-10-2016       2.5    3067.0       NaN       NaN  NaN
16           Jellis  08-10-2016       2.5    3067.0       NaN       NaN  NaN
19           Dingle  08-10-2016       2.5    3067.0       NaN       NaN  NaN
21           Biggin  10-12-2016       2.5    3067.0       NaN       NaN  NaN
22     Purplebricks  10-12-2016       2.5    3067.0       NaN       NaN  NaN
...             ...         ...       ...       ...       ...       ...  ...
23495         Barry  26-08-2017      12.4    3107.0       NaN       NaN  NaN
23499       McGrath  26-08-2017       7.0    3071.0       NaN       NaN  NaN
23502        Jellis  26-08-2017       7.0    3071.0       NaN       NaN  NaN
23508        Beller  26-08-2017       4.1    3142.0       NaN       NaN  NaN
23531       Triwest  26-08-2017      14.7    3030.0       NaN       NaN  NaN

       Landsize  Lattitude  Longtitude             Regionname  Propertycount
15          NaN        NaN         NaN  Northern Metropolitan         4019.0
16          NaN        NaN         NaN  Northern Metropolitan         4019.0
19          NaN        NaN         NaN  Northern Metropolitan         4019.0
21          NaN        NaN         NaN  Northern Metropolitan         4019.0
22          NaN        NaN         NaN  Northern Metropolitan         4019.0
...         ...        ...         ...                    ...            ...
23495       NaN        NaN         NaN   Eastern Metropolitan         5420.0
23499       NaN        NaN         NaN  Northern Metropolitan         8870.0
23502       NaN        NaN         NaN  Northern Metropolitan         8870.0
23508       NaN        NaN         NaN  Southern Metropolitan         7217.0
23531       NaN        NaN         NaN   Western Metropolitan        16166.0

[4278 rows x 18 columns]

In [15]:
#checking in percentage which has more than 5 null values in rows

data=round(len(a1[a1.isnull().sum(axis=1)>5])/len(a1)*100,2)
print(data)

18.17

In [16]:
#retaining the rows having less than or equal to 5 values
a1=a1[a1.isnull().sum(axis=1)<=5]
print(a1)
print(a1.shape)

             Suburb             Address  Rooms Type      Price Method  \
0        Abbotsford       68 Studley St      2    h        NaN     SS
1        Abbotsford        85 Turner St      2    h  1480000.0      S
2        Abbotsford     25 Bloomburg St      2    h  1035000.0      S
3        Abbotsford  18/659 Victoria St      3    u        NaN     VB
4        Abbotsford        5 Charles St      3    h  1465000.0     SP
...             ...                 ...    ...  ...        ...    ...
23542  Wyndham Vale     25 Clitheroe Dr      3    u        NaN     PN
23543  Wyndham Vale    19 Dalrymple Bvd      4    h        NaN      S
23544     Yallambie        17 Amaroo Wy      4    h  1100000.0      S
23545    Yarraville          6 Agnes St      4    h  1285000.0     SP
23546    Yarraville       33 Freeman St      4    h  1050000.0     VB

             SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
0             Jellis  03-09-2016       2.5    3067.0       2.0       1.0  1.0
1             Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2             Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
3             Rounds  04-02-2016       2.5    3067.0       3.0       2.0  1.0
4             Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
...              ...         ...       ...       ...       ...       ...  ...
23542      Harcourts  26-08-2017      27.2    3024.0       3.0       1.0  0.0
23543  hockingstuart  26-08-2017      27.2    3024.0       NaN       NaN  NaN
23544     Buckingham  26-08-2017      12.7    3085.0       4.0       3.0  2.0
23545        Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0
23546        Village  26-08-2017       6.3    3013.0       4.0       2.0  2.0

       Landsize  Lattitude  Longtitude             Regionname  Propertycount
0         126.0  -37.80140   144.99580  Northern Metropolitan         4019.0
1         202.0  -37.79960   144.99840  Northern Metropolitan         4019.0
2         156.0  -37.80790   144.99340  Northern Metropolitan         4019.0
3           0.0  -37.81140   145.01160  Northern Metropolitan         4019.0
4         134.0  -37.80930   144.99440  Northern Metropolitan         4019.0
...         ...        ...         ...                    ...            ...
23542     552.0  -37.90032   144.61839   Western Metropolitan         5262.0
23543       NaN  -37.87882   144.60184   Western Metropolitan         5262.0
23544       NaN  -37.72006   145.10547  Northern Metropolitan         1369.0
23545     362.0  -37.81188   144.88449   Western Metropolitan         6543.0
23546       NaN  -37.81829   144.87404   Western Metropolitan         6543.0

[19269 rows x 18 columns]
(19269, 18)

In [17]:
#now checking remaining data of null values
data=round(a1.isnull().sum().sort_values(ascending=False)/len(a1)*100,2)
print(data)

Price            21.71
Landsize          9.65
Car               1.81
Bathroom          1.07
Bedroom2          1.05
Longtitude        0.13
Lattitude         0.13
Suburb            0.00
Regionname        0.00
Postcode          0.00
Address           0.00
Distance          0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Propertycount     0.00
dtype: float64

In [18]:
#by doing this what we found that price colimn and landsize still have maximum no. of nukk values 
#so what we do now we just dlete those null rows in those columns
data=a1[a1['Price'].notnull()]
print(data)

             Suburb           Address  Rooms Type      Price Method  \
1        Abbotsford      85 Turner St      2    h  1480000.0      S
2        Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4        Abbotsford      5 Charles St      3    h  1465000.0     SP
5        Abbotsford  40 Federation La      3    h   850000.0     PI
6        Abbotsford       55a Park St      4    h  1600000.0     VB
...             ...               ...    ...  ...        ...    ...
23540  Williamstown   8/2 Thompson St      2    t   622500.0     SP
23541  Williamstown      96 Verdon St      4    h  2500000.0     PI
23544     Yallambie      17 Amaroo Wy      4    h  1100000.0      S
23545    Yarraville        6 Agnes St      4    h  1285000.0     SP
23546    Yarraville     33 Freeman St      4    h  1050000.0     VB

          SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1          Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2          Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4          Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5          Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6          Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...           ...         ...       ...       ...       ...       ...  ...
23540        Greg  26-08-2017       6.8    3016.0       2.0       2.0  1.0
23541     Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23544  Buckingham  26-08-2017      12.7    3085.0       4.0       3.0  2.0
23545     Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0
23546     Village  26-08-2017       6.3    3013.0       4.0       2.0  2.0

       Landsize  Lattitude  Longtitude             Regionname  Propertycount
1         202.0  -37.79960   144.99840  Northern Metropolitan         4019.0
2         156.0  -37.80790   144.99340  Northern Metropolitan         4019.0
4         134.0  -37.80930   144.99440  Northern Metropolitan         4019.0
5          94.0  -37.79690   144.99690  Northern Metropolitan         4019.0
6         120.0  -37.80720   144.99410  Northern Metropolitan         4019.0
...         ...        ...         ...                    ...            ...
23540       NaN  -37.86393   144.90484   Western Metropolitan         6380.0
23541     866.0  -37.85908   144.89299   Western Metropolitan         6380.0
23544       NaN  -37.72006   145.10547  Northern Metropolitan         1369.0
23545     362.0  -37.81188   144.88449   Western Metropolitan         6543.0
23546       NaN  -37.81829   144.87404   Western Metropolitan         6543.0

[15086 rows x 18 columns]

In [19]:
#using numpy
datanp=a1[~np.isnan(a1['Price'])]
print(datanp)

             Suburb           Address  Rooms Type      Price Method  \
1        Abbotsford      85 Turner St      2    h  1480000.0      S
2        Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4        Abbotsford      5 Charles St      3    h  1465000.0     SP
5        Abbotsford  40 Federation La      3    h   850000.0     PI
6        Abbotsford       55a Park St      4    h  1600000.0     VB
...             ...               ...    ...  ...        ...    ...
23540  Williamstown   8/2 Thompson St      2    t   622500.0     SP
23541  Williamstown      96 Verdon St      4    h  2500000.0     PI
23544     Yallambie      17 Amaroo Wy      4    h  1100000.0      S
23545    Yarraville        6 Agnes St      4    h  1285000.0     SP
23546    Yarraville     33 Freeman St      4    h  1050000.0     VB

          SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1          Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2          Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4          Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5          Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6          Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...           ...         ...       ...       ...       ...       ...  ...
23540        Greg  26-08-2017       6.8    3016.0       2.0       2.0  1.0
23541     Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23544  Buckingham  26-08-2017      12.7    3085.0       4.0       3.0  2.0
23545     Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0
23546     Village  26-08-2017       6.3    3013.0       4.0       2.0  2.0

       Landsize  Lattitude  Longtitude             Regionname  Propertycount
1         202.0  -37.79960   144.99840  Northern Metropolitan         4019.0
2         156.0  -37.80790   144.99340  Northern Metropolitan         4019.0
4         134.0  -37.80930   144.99440  Northern Metropolitan         4019.0
5          94.0  -37.79690   144.99690  Northern Metropolitan         4019.0
6         120.0  -37.80720   144.99410  Northern Metropolitan         4019.0
...         ...        ...         ...                    ...            ...
23540       NaN  -37.86393   144.90484   Western Metropolitan         6380.0
23541     866.0  -37.85908   144.89299   Western Metropolitan         6380.0
23544       NaN  -37.72006   145.10547  Northern Metropolitan         1369.0
23545     362.0  -37.81188   144.88449   Western Metropolitan         6543.0
23546       NaN  -37.81829   144.87404   Western Metropolitan         6543.0

[15086 rows x 18 columns]

In [22]:
#updating above operations
a1=data
print(a1)

              Suburb           Address  Rooms Type      Price Method  \
1         Abbotsford      85 Turner St      2    h  1480000.0      S
2         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4         Abbotsford      5 Charles St      3    h  1465000.0     SP
5         Abbotsford  40 Federation La      3    h   850000.0     PI
6         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
23537  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
23538   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
23539   Williamstown       83 Power St      3    h  1170000.0      S
23541   Williamstown      96 Verdon St      4    h  2500000.0     PI
23545     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1        Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2        Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6        Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...         ...         ...       ...       ...       ...       ...  ...
23537     Barry  26-08-2017      16.7    3150.0       4.0       2.0  2.0
23538  Williams  26-08-2017       6.8    3016.0       3.0       2.0  2.0
23539     Raine  26-08-2017       6.8    3016.0       3.0       2.0  4.0
23541   Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23545   Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0

       Landsize  Lattitude  Longtitude                  Regionname  \
1         202.0  -37.79960   144.99840       Northern Metropolitan
2         156.0  -37.80790   144.99340       Northern Metropolitan
4         134.0  -37.80930   144.99440       Northern Metropolitan
5          94.0  -37.79690   144.99690       Northern Metropolitan
6         120.0  -37.80720   144.99410       Northern Metropolitan
...         ...        ...         ...                         ...
23537     652.0  -37.90562   145.16761  South-Eastern Metropolitan
23538     333.0  -37.85927   144.87904        Western Metropolitan
23539     436.0  -37.85274   144.88738        Western Metropolitan
23541     866.0  -37.85908   144.89299        Western Metropolitan
23545     362.0  -37.81188   144.88449        Western Metropolitan

       Propertycount
1             4019.0
2             4019.0
4             4019.0
5             4019.0
6             4019.0
...              ...
23537         7392.0
23538         6380.0
23539         6380.0
23541         6380.0
23545         6543.0

[13603 rows x 18 columns]

In [21]:
data=a1[a1['Landsize'].notnull()]
print(data)
#assigned it to in original data
a1=data
print(a1.shape)

              Suburb           Address  Rooms Type      Price Method  \
1         Abbotsford      85 Turner St      2    h  1480000.0      S
2         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4         Abbotsford      5 Charles St      3    h  1465000.0     SP
5         Abbotsford  40 Federation La      3    h   850000.0     PI
6         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
23537  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
23538   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
23539   Williamstown       83 Power St      3    h  1170000.0      S
23541   Williamstown      96 Verdon St      4    h  2500000.0     PI
23545     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1        Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2        Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6        Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...         ...         ...       ...       ...       ...       ...  ...
23537     Barry  26-08-2017      16.7    3150.0       4.0       2.0  2.0
23538  Williams  26-08-2017       6.8    3016.0       3.0       2.0  2.0
23539     Raine  26-08-2017       6.8    3016.0       3.0       2.0  4.0
23541   Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23545   Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0

       Landsize  Lattitude  Longtitude                  Regionname  \
1         202.0  -37.79960   144.99840       Northern Metropolitan
2         156.0  -37.80790   144.99340       Northern Metropolitan
4         134.0  -37.80930   144.99440       Northern Metropolitan
5          94.0  -37.79690   144.99690       Northern Metropolitan
6         120.0  -37.80720   144.99410       Northern Metropolitan
...         ...        ...         ...                         ...
23537     652.0  -37.90562   145.16761  South-Eastern Metropolitan
23538     333.0  -37.85927   144.87904        Western Metropolitan
23539     436.0  -37.85274   144.88738        Western Metropolitan
23541     866.0  -37.85908   144.89299        Western Metropolitan
23545     362.0  -37.81188   144.88449        Western Metropolitan

       Propertycount
1             4019.0
2             4019.0
4             4019.0
5             4019.0
6             4019.0
...              ...
23537         7392.0
23538         6380.0
23539         6380.0
23541         6380.0
23545         6543.0

[13603 rows x 18 columns]
(13603, 18)

In [23]:
data=a1.isnull().sum().sort_values(ascending=False)
print(data)

Car              63
Longtitude       22
Lattitude        22
Bathroom          1
Suburb            0
Address           0
Regionname        0
Landsize          0
Bedroom2          0
Postcode          0
Distance          0
Date              0
SellerG           0
Method            0
Price             0
Type              0
Rooms             0
Propertycount     0
dtype: int64

In [24]:
#now we have only car,longitude,latitude,bathroom columns . which have some null values
#first we will fetch latitude and longitude and later will implement mean value over missing data

data=a1.loc[:,['Lattitude','Longtitude']].describe()
print("LATITUDE AND LONGITUDE",data)

LATITUDE AND LONGITUDE           Lattitude    Longtitude
count  13581.000000  13581.000000
mean     -37.809204    144.995221
std        0.079257      0.103913
min      -38.182550    144.431810
25%      -37.856820    144.929600
50%      -37.802360    145.000100
75%      -37.756400    145.058320
max      -37.408530    145.526350

In [25]:
#replacing it with mean values

data=a1.loc[:,'Lattitude'].fillna(a1['Lattitude'].mean())
print("all rows of that column",data)

all rows of that column 1       -37.79960
2       -37.80790
4       -37.80930
5       -37.79690
6       -37.80720
           ...
23537   -37.90562
23538   -37.85927
23539   -37.85274
23541   -37.85908
23545   -37.81188
Name: Lattitude, Length: 13603, dtype: float64

In [26]:
#for longitude now
data=a1.loc[:,'Longtitude'].fillna(a1['Longtitude'].mean())
print(data)

1        144.99840
2        144.99340
4        144.99440
5        144.99690
6        144.99410
           ...
23537    145.16761
23538    144.87904
23539    144.88738
23541    144.89299
23545    144.88449
Name: Longtitude, Length: 13603, dtype: float64

In [27]:
#describing cars data and bathroom data  as well
data=a1.loc[:,['Car','Bathroom']].describe()
print(data)

                Car      Bathroom
count  13540.000000  13602.000000
mean       1.610414      1.534921
std        0.962244      0.691834
min        0.000000      0.000000
25%        1.000000      1.000000
50%        2.000000      1.000000
75%        2.000000      2.000000
max       10.000000      8.000000

In [28]:

data=a1.groupby('Car').Car.count().sort_values(ascending=False)
print(data)

Car
2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: Car, dtype: int64

In [29]:
#it has mostly 2 so well replece it with 2

data=a1.loc[:,'Car'].fillna(2,inplace=True)

z=a1.info
print(z)

<bound method DataFrame.info of               Suburb           Address  Rooms Type      Price Method  \
1         Abbotsford      85 Turner St      2    h  1480000.0      S
2         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4         Abbotsford      5 Charles St      3    h  1465000.0     SP
5         Abbotsford  40 Federation La      3    h   850000.0     PI
6         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
23537  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
23538   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
23539   Williamstown       83 Power St      3    h  1170000.0      S
23541   Williamstown      96 Verdon St      4    h  2500000.0     PI
23545     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1        Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2        Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6        Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...         ...         ...       ...       ...       ...       ...  ...
23537     Barry  26-08-2017      16.7    3150.0       4.0       2.0  2.0
23538  Williams  26-08-2017       6.8    3016.0       3.0       2.0  2.0
23539     Raine  26-08-2017       6.8    3016.0       3.0       2.0  4.0
23541   Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23545   Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0

       Landsize  Lattitude  Longtitude                  Regionname  \
1         202.0  -37.79960   144.99840       Northern Metropolitan
2         156.0  -37.80790   144.99340       Northern Metropolitan
4         134.0  -37.80930   144.99440       Northern Metropolitan
5          94.0  -37.79690   144.99690       Northern Metropolitan
6         120.0  -37.80720   144.99410       Northern Metropolitan
...         ...        ...         ...                         ...
23537     652.0  -37.90562   145.16761  South-Eastern Metropolitan
23538     333.0  -37.85927   144.87904        Western Metropolitan
23539     436.0  -37.85274   144.88738        Western Metropolitan
23541     866.0  -37.85908   144.89299        Western Metropolitan
23545     362.0  -37.81188   144.88449        Western Metropolitan

       Propertycount
1             4019.0
2             4019.0
4             4019.0
5             4019.0
6             4019.0
...              ...
23537         7392.0
23538         6380.0
23539         6380.0
23541         6380.0
23545         6543.0

[13603 rows x 18 columns]>

In [30]:
# do for bathroom as well
data=a1.groupby('Bathroom').Bathroom.count().sort_values(ascending=False)
print(data)

Bathroom
1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
7.0       2
8.0       2
Name: Bathroom, dtype: int64

In [31]:
#1 is more so we replace null values in bathroom with 1

data=a1.loc[:,'Bathroom'].fillna(1,inplace=True)
print(a1)

print(a1.isnull().sum())

              Suburb           Address  Rooms Type      Price Method  \
1         Abbotsford      85 Turner St      2    h  1480000.0      S
2         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
4         Abbotsford      5 Charles St      3    h  1465000.0     SP
5         Abbotsford  40 Federation La      3    h   850000.0     PI
6         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
23537  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
23538   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
23539   Williamstown       83 Power St      3    h  1170000.0      S
23541   Williamstown      96 Verdon St      4    h  2500000.0     PI
23545     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
1        Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2        Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
4        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
5        Biggin  04-03-2017       2.5    3067.0       3.0       2.0  1.0
6        Nelson  04-06-2016       2.5    3067.0       3.0       1.0  2.0
...         ...         ...       ...       ...       ...       ...  ...
23537     Barry  26-08-2017      16.7    3150.0       4.0       2.0  2.0
23538  Williams  26-08-2017       6.8    3016.0       3.0       2.0  2.0
23539     Raine  26-08-2017       6.8    3016.0       3.0       2.0  4.0
23541   Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23545   Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0

       Landsize  Lattitude  Longtitude                  Regionname  \
1         202.0  -37.79960   144.99840       Northern Metropolitan
2         156.0  -37.80790   144.99340       Northern Metropolitan
4         134.0  -37.80930   144.99440       Northern Metropolitan
5          94.0  -37.79690   144.99690       Northern Metropolitan
6         120.0  -37.80720   144.99410       Northern Metropolitan
...         ...        ...         ...                         ...
23537     652.0  -37.90562   145.16761  South-Eastern Metropolitan
23538     333.0  -37.85927   144.87904        Western Metropolitan
23539     436.0  -37.85274   144.88738        Western Metropolitan
23541     866.0  -37.85908   144.89299        Western Metropolitan
23545     362.0  -37.81188   144.88449        Western Metropolitan

       Propertycount
1             4019.0
2             4019.0
4             4019.0
5             4019.0
6             4019.0
...              ...
23537         7392.0
23538         6380.0
23539         6380.0
23541         6380.0
23545         6543.0

[13603 rows x 18 columns]
Suburb            0
Address           0
Rooms             0
Type              0
Price             0
Method            0
SellerG           0
Date              0
Distance          0
Postcode          0
Bedroom2          0
Bathroom          0
Car               0
Landsize          0
Lattitude        22
Longtitude       22
Regionname        0
Propertycount     0
dtype: int64

In [32]:
#now checking any field still corrupted with null values or not
print(a1.isnull().sum())

Suburb            0
Address           0
Rooms             0
Type              0
Price             0
Method            0
SellerG           0
Date              0
Distance          0
Postcode          0
Bedroom2          0
Bathroom          0
Car               0
Landsize          0
Lattitude        22
Longtitude       22
Regionname        0
Propertycount     0
dtype: int64

In [33]:
#new data sheet........................converting it into house_data.csv
a1.to_csv('house_data.csv')

# THANKYOU